<main>
    <app-navbar class="navbar"/>
    <div class="content">
      <mat-card class="w-full max-w-3xl mx-auto">
        <header class="flex flex-col md:flex-row items-start md:items-center justify-between px-4 py-3 border-b border-gray-200">
          <div class="flex items-center space-x-2">
            <mat-icon class="text-red-500">warning</mat-icon>
            <h1 class="text-3xl font-bold text-red-600">Acesso Negado</h1>
          </div>
          <p class="text-sm text-gray-600">Você não tem permissão para acessar esta página.</p>
        </header>
        <div class="p-6 text-center">
          <p class="text-gray-700 text-lg">Se você acredita que isso é um erro, entre em contato com o suporte.</p>
          <p class="text-gray-600 mt-2">Para voltar à página inicial, clique no botão abaixo:</p>
          
          <button mat-raised-button color="primary" class="mt-4" routerLink="/">Voltar para o início</button>
        </div>
      </mat-card>
    </div>
</main>
