<main>
  <app-navbar class="navbar" />
  <div class="content">
    <div class="w-full h-screen flex flex-col md:flex-row items-center">
      <div class="w-full md:w-1/2 items-center justify-center h-full flex flex-col">
        <app-form-matricula />
        <a routerLink="login" class="text-blue-400 hover:underline mt-4">Já possuo mátricula</a>
      </div>
      <div class="hidden md:flex w-full md:w-1/2 h-full items-center justify-center flex-col">
        <img src="online-class-27.svg" width="620px" />
      </div>
    </div>
  </div>
  <app-footer class="footer" />
</main>