
<main>
    <app-navbar class="navbar"/>
    <div class="content">
      <mat-card class="w-full max-w-6xl mx-auto">
        <header class="flex flex-col md:flex-row items-start md:items-center justify-between px-4 py-3 border-b border-gray-200">
          <div>
            <h1 class="text-3xl font-bold">Sobre o Seminário Teológico Batista Potiguar</h1>
            <p class="text-sm text-gray-600">Conheça mais sobre nossa instituição e missão</p>
          </div>
        </header>
        <div class="p-6">
          <h2 class="text-2xl font-semibold">História</h2>
          <p class="text-gray-700">O Seminário Teológico Batista Potiguar (STBP) é uma instituição de ensino teológico localizada em Natal, Rio Grande do Norte. Fundado em 1998, o STBP tem como objetivo a formação de líderes e ministros para a Igreja Batista, oferecendo cursos que abrangem diversas áreas do conhecimento teológico.</p>
          
          <h2 class="text-2xl font-semibold mt-4">Cursos e Programas</h2>
          <ul class="list-disc pl-6 text-gray-700">
            <li><strong>Curso Livre de Teologia:</strong> Aprofunde seus conhecimentos teológicos com aulas presenciais e online. <a href="https://www.instagram.com/stbprn/?utm_source" class="text-blue-500">Saiba mais</a>.</li>
            <li><strong>Cursos de Correspondência e Internet:</strong> Estude à distância disciplinas como Teologia, Evangelismo, Aconselhamento, Apologética e muito mais.</li>
          </ul>
          
          <h2 class="text-2xl font-semibold mt-4">Áreas de Atuação</h2>
          <ul class="list-disc pl-6 text-gray-700">
            <li>Ministério Pastoral</li>
            <li>Capacitação de Líderes</li>
            <li>Missões</li>
            <li>Docência</li>
            <li>Produção Literária</li>
          </ul>
          
          <h2 class="text-2xl font-semibold mt-4">Localização e Contato</h2>
          <p class="text-gray-700">O seminário está situado na Rua Clementino Câmara, 209, Barro Vermelho, Natal, RN, CEP 59030-330.</p>
          <p class="text-gray-700">Contato: (84) 3211-8045 | <a href="mailto:stbpotiguar&#64;gmail.com">stbpotiguar&#64;gmail.com</a></p>
          <p class="text-gray-700">Saiba mais em nosso site oficial: <a href="https://www.abibet.org.br/pages/view.php?id=7&utm_source" class="text-blue-500">ABIBET</a></p>
          
          <h2 class="text-2xl font-semibold mt-4">Redes Sociais</h2>
          <ul class="list-disc pl-6 text-gray-700">
            <li><a href="https://www.instagram.com/stbprn/?utm_source" class="text-blue-500">Instagram</a></li>
            <li><a href="https://www.facebook.com/p/Semin%C3%A1rio-Teol%C3%B3gico-Batista-Potiguar-100069743505921/?utm_source" class="text-blue-500">Facebook</a></li>
            <li>Canal no YouTube (Em breve!)</li>
          </ul>
        </div>
      </mat-card>
    </div>
  </main>